name: photofilters_example
description: Demonstrates how to use the photofilters plugin.
publish_to: none
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.2.0
  path_provider:  ^2.1.5
  photofilters:
    path: ../
  path: ^1.9.1
  image: ^4.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints:  

flutter:
  uses-material-design: true
  assets:
    - assets/images/gifloader.gif
